<div class="row">
  <div class="col-md-3">

    <app-products-filters></app-products-filters>

  </div>

  <div class="col-md-9">
    <div class="album py-5 bg-light">
      <div class="container">

        <div class="row">
          <div *ngFor="let product of products" class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top"
                src="https://assets.myntassets.com/f_webp,dpr_1.5,q_60,w_210,c_limit,fl_progressive/assets/images/1697714/2020/1/22/3a66abd7-a7bd-462e-ba8a-ce60cdbe576b1579690524370-Roadster-Men-Maroon--Navy-Blue-Striped-Round-Neck-T-shirt-93-1.jpg"
                alt="Card image cap">
              <div class="card-body">
                <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio, ratione modi
                  tempore
                  expedita dolores magnam inventore tempora harum obcaecati, eius a earum distinctio qui ipsa deleniti
                  corrupti culpa pariatur facilis?</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>

                  </div>

                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>
